.navbar-left{
  position: fixed;
  height: 100%;
  left:0;
  top:0;
  background-color: #444444;
}

span{
  font-size: 1.5em;
  padding-left: 0.5em;
}

.content{
  margin-top: 2em;
}

button{
  height: 4em;
  background-color: transparent;
  color:white;
  border: none;
  font-size: larger;
  text-align: left;
}

.content :hover{
  color: #AAAAAA;
}

.menu-trigger mat-icon{
  font-size: 3em;
}


.content button{
  padding-left: 20%;
  width: 100%;
}
