<div class="navbar-left" [@openClose]="isOpen ? 'open' : 'closed'">
  <button mat-button class="menu-trigger" (click)="toggle()"><mat-icon>menu</mat-icon></button>
  <div class="content" >
    <mat-divider></mat-divider>
    <button mat-button class="nav-button" (click)="_router.navigate([''])"><mat-icon>home</mat-icon><span *ngIf="isOpen">Home</span></button>
    <mat-divider></mat-divider>
    <button mat-button (click)="_router.navigate(['files'])"><mat-icon>file_copy</mat-icon><span *ngIf="isOpen">Files</span></button>
    <mat-divider></mat-divider>
    <button mat-button (click)="_router.navigate(['app'])"><mat-icon>memory</mat-icon><span *ngIf="isOpen">Webapp</span></button>
    <mat-divider></mat-divider>
    <button mat-button (click)="_router.navigate(['api'])"><mat-icon>swap_vert</mat-icon><span *ngIf="isOpen">API</span></button>
    <mat-divider></mat-divider>
    <button mat-button (click)="_router.navigate(['about'])"><mat-icon>group</mat-icon><span *ngIf="isOpen">About us</span></button>
    <mat-divider></mat-divider>
  </div>
</div>
